<!-- Allows dropdown menu to be 'behind' the header as hasn't been able to achieve using 'z-index' css property -->
<div id="header__LoginDropdownMenu">
    <div class="header_LoginDropdownMenuItem" (click)="logout()">
        Cerrar sesión
    </div>
</div>

<header class="header__GeneralContainer" *ngIf="authService.user | async as user; else login">
    
    <div class="header__LeftItemsContainer">
        <div class="header__Item">
            <img class="logo" src="../../../assets/imgs/CartelAge_Colors-03.png" alt="CartelAge" height="100%" title="Go Home">
        </div>
        <div class="header__Item" routerLink="/peliculas">
            Películas
        </div>
        <div class="header__Item" routerLink="/favoritas">
            Favoritas
        </div>
    </div>
    
    <div class="header__RightItemsContainer">
        
        <div class="header__Item" (click)="toggleDropdownButton()">
            <span id="header__ProfileEmail">{{ user.displayName }}</span>
            <img [src]="user.photoURL" alt="Profile Image" class="header__ProfileImage">

        </div>
    </div>

</header>

<div id="header__LoginDropdownMenu">
    <div class="header_LoginDropdownMenuItem" (click)="logout()">
        Cerrar sesión
    </div>
</div>


<!-- In case the user is not logged in, this template is shown as header -->
<ng-template #login>

    <header class="header__GeneralContainer">
        <div class="header__LeftItemsContainer">
            <div class="header__Item">
            <img class="logo" src="../../../assets/imgs/CartelAge_Colors-03.png" alt="CartelAge" height="100%" title="Go Home">
            </div>
        </div>
        <div class="header__RightItemsContainer">
            <div class="header__Item" (click)="loginGoogle()">
                <!-- <button (click)="loginGoogle()" class="header__botonInicioSesion">Inicio sesión</button> -->
                Iniciar Sesion
            </div>
        </div>
    </header>

</ng-template>
