.shortCard__GeneralContainer{
    background-color: #ffffff;
    height: 18em;
    width: 13em;
    display: inline-block;

    margin: 15px;

    border-radius: 4px;
    border-width: 0.2px;
    border-style: solid;
    border-color: gray;
    box-shadow: 2px 2px 2px gray;
    overflow: hidden;
}

.shortCard__ImageContainer{
    height: 15em;
    width: 13em;
}

.shortCard__Image{
    height: 15em;
    width: 13em;
    object-position: top;
    object-fit: cover;
}

.shortCard__DescriptionContainer{
    height: 3em;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #161320;
    border-top: gray;
    border-width: 0px;
    border-top-width: 1px;
    border-style: solid;
}

.shortCard__TitleContainer{
    width: 80%;
}

.shortCard__Title{
    font-size: 15px;
    margin-left: 5%;
    overflow: hidden;
}

.vertical__separator{
    border-left: 0.5px solid gray;
    height: 100%;
}

.shortCard_FavContainer{
    width: 20%;
    text-align: center;
}

.shortCard_Fav{
    /* fill: #c4c4c4; */
}

.shortCard_Fav:hover{
    transition-duration: 0.5s;
    transition-property: transform;
    transform: scale(1.2);
}