.horizontal__Container{
    height: 21em;
    background-color: white;
    /* background-color: #2c3a46; */
    /* background-image: linear-gradient(  #6930C3, #7400B8); */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    align-items: center;
    /* border-style: solid; */
    border-radius: 8px;
    border-bottom-width: 0px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}