<div class="horizontal__Conntainer" >
    <app-film-short-card></app-film-short-card>
    <app-film-short-card></app-film-short-card>
    <app-film-short-card></app-film-short-card>
    <app-film-short-card></app-film-short-card>
    <app-film-short-card></app-film-short-card>
    <app-film-short-card></app-film-short-card>
    <app-film-short-card></app-film-short-card>
    <app-film-short-card></app-film-short-card>
    <app-film-short-card></app-film-short-card>
    <app-film-short-card></app-film-short-card>
</div>

<!-- [ngStyle]="{'background-color': bckg_color}" -->